.navbar-item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-item.active {
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .navbar-item i {
    margin-right: 5px;
  }
  .navbar-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .navbar-link:hover {
    color: #ffffff;
  }
  